{{ $ := .root }}
{{ $page := .page }}

<div id="{{ $page.File.TranslationBaseName }}" class="carousel slide" data-ride="carousel">
  <div class="partner-main">
      <div class="partner-main-col">
          <div class="partner-main-title">
            {{ with $page.Params.partners_title }}
            <p class="partner-main-font" >
              {{ . | markdownify | emojify }}
            </p>
            {{ end }}
            {{ with $page.Params.partners_subtitle }}
            <p class="partner-main-subfont" >
              {{ . | markdownify | emojify }}
            </p>
            {{ end }}
          </div>
          {{ with $.Site.Params.partner }}
          <div class="partner-main-row">
            <img src="{{ .partners_huawei }}" alt="partners_huawei">
            <img src="{{ .partners_woyun }}" alt="partners_woyun">

          </div>
          <div class="partner-main-row">
            <img src="{{ .partners_dianxin }}" alt="partners_dianxin">

            <img src="{{ .partners_yidong }}" alt="partners_yidong">
          </div>
          {{ end }}
      </div>
  </div>
  <div class="cloud-native">
    <div class="cloud-native-container">
      <h2 class="cloud-native-container__subtitle">
        Kubeedge® is a 
        <a href="https://cncf.io/">
          Cloud Native Computing Foundation
        </a> 
        Incubation project
      </h2>
      <div class="cloud-native-cainter-cncf-logo">
      </div>
    </div>
  </div>
</div>