{{ $ := .root }}
{{ $page := .page }}

<div id="{{ $page.File.TranslationBaseName }}" class="carousel slide" data-ride="carousel">
  <div class="study-main">
      <div class="study-main-col">
          <div class="study-main-title">
            {{ with $page.Params.study_title }}
            <p class="study-main-font" >
              {{ . | markdownify | emojify }}
            </p>
            {{ end }}
            {{ with $page.Params.study_subtitle }}
            <p class="study-main-subfont" >
              {{ . | markdownify | emojify }}
            </p>
            {{ end }}
          </div>
          {{ with $.Site.Params.study }}
          <div class="study-main-row">
            <div class="study-main-row-right">
              <a href="https://www.mindspore.cn/">
                <img sloth-img="{{ .study_raisecom }}" alt="study_raisecom">
              </a>
            </div>  
            <div class="study-main-row-left">
              <a href="http://xh-iot.net/">
                <img sloth-img="{{ .study_xhwl }}" alt="study_xhwl">
              </a>
            </div>
          </div>
          <div class="study-main-row">
            <div class="study-main-row-right">
              <a href="http://www.jylink.com/">
                <img style="margin-top: 10px; height: 50px;"  sloth-img="{{ .study_jysz }}" alt="study_jysz">
              </a>
            </div>  
            <div class="study-main-row-left">
              <a href="https://cucc.wocloud.cn/">
               <img style="margin-top: 10px; height: 50px;"  sloth-img="{{ .study_woyun }}" alt="study_woyun">
              </a>
            </div>

          </div>
          <div class="study-main-row">
            <div class="study-main-row-right">
              <a href="https://kubesphere.io/">
                <img sloth-img="{{ .study_kubesphere }}" alt="study_kubesphere">
              </a>
            </div>  
            <div class="study-main-row-left">   
              <a href="https://www.huaweicloud.com/en-us/product/ief.html">
                <img style="width: 100px;" sloth-img="{{ .study_cloud }}" alt="study_cloud">
              </a>
            </div>
          </div>
          {{ end }}
      </div>
  </div>
</div>