.partner-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
  border: 1px solid var(--ifm-color-emphasis-200);

  &:hover {
    border: 1px solid var(--ifm-color-primary);
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  }

  //logo sizing
  .image-container {
    width: auto;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }

  .partner-logo {
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: white !important; // White bg even in dark mode
  }

  .learn-more-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: var(--ifm-color-primary);
    color: white;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
      background-color: var(--ifm-color-primary-dark);
    }
  }
}


html[data-theme="dark"] {
  .partner-card {
    background-color: var(--ifm-background-surface-color);
    border: 1px solid var(--ifm-color-emphasis-400);

    &:hover {
      border-color: var(--ifm-color-primary);
      transform: translateY(-4px);
    }
  }

  .image-container {
    background-color: var(--ifm-background-color);
  }

  .learn-more-btn {
    background-color: var(--ifm-color-primary-light);
  }
}
