.job-card {
  display: flex;
  flex-direction: row;
  height: 120px;
  overflow: hidden;
  border-radius: 5px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.05));
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  cursor: pointer;

  .image {
    width: 80px;
    height: 80px;
    margin-left: 20px;

    img {
      margin-top: 4px;
      width: 100%;
      height: 100%;
    }
  }

  .content {
    flex: 1;
    margin-left: 50px;

    .title {
      color: #d62293;
      font-size: 18px;
      margin-top: 10px;
      margin-left: 6px;
    }

    .info {
      display: flex;
      gap: 10px;

      .location,
      .company {
        display: flex;
        align-items: center;
      }

      .company-icon {
        font-size: 22px;
      }

      .location-icon {
        font-size: 18px;
      }
    }
  }

  .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .date {
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .tags {
    display: flex;
    gap: 5px;
    font-size: 12px;
  }
}

html[data-theme="dark"] {
  .job-card {
    background-color: #242526;
    border: 1px solid rgba(255, 255, 255, 0.06);
  }
}
