.aboutContainer {
  background-color: rgb(247, 247, 247);

  @media screen {
    @media (max-width: 992px) {
      .sectionContainerInner {
        .row {
          .profile {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }
    @media (max-width: 768px) {
      .sectionContainerInner {
        .row {
          .profile {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;

    .profile {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      text-align: center;
      padding: 30px 10px;
      position: relative;
    }

    .portrait {
      width: 200px;
      height: 200px;
      margin: 0 auto;
      border-radius: 50%;
      object-fit: cover;
    }

    .description {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
      font-size: 1.2rem;
    }

    .name {
      font-size: 2em;
      font-weight: 400;
      margin: 20px 0 10px 0;
    }

    .jobTitle {
      font-size: 1.1rem;
      font-weight: 300;
      margin: 0px 0 10px 0;
    }
  }
}


html[data-theme='dark'] {
  .aboutContainer {
    background-color: #242526;
  }
}