.partners-pages {
  background-color: var(--ifm-background-color);

  .partners-header {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/img/partners.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .partners {
      font-size: 40px;
      font-weight: 700;
      color: white;
   }

  }

  .partners-content {
        display: flex;
        justify-content: center;
        margin: 50px 0;


       .partners-md {
          width: 60%;
       }
       .partner-list {
        display: grid;
        grid-template-columns: 1fr; // 1 card per row by default
        gap: 3.5rem; // Space between the cards
      
        // On larger screens (desktop), show 2 cards per row
        @media (min-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      
     }
}