/* custom css here */
.h-100 {
  height: 100%;
}

#holy {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "header header"
    "main side";
}
#hero {
    padding-top: 48px;
    padding-bottom: 56px;
    text-align: center;
}
#hero h1 {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    font-size: 64px;
    line-height: 72px;
    font-weight: 900;
}
#hero p {
    max-width: 740px;
    font-size: 21px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 28px;
    margin: 28px auto 0;
    position: relative;
}
button, .button {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #1c86f2;
    border-radius: 3px;
    min-height: 40px;
    padding: 8px 20px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    text-decoration: none !important;
    
}
#action-buttons {
    margin: 0 4px;
    margin-bottom: 64px;
    text-align: center;
}
#action-buttons .button.outline {
    background: 0;
    border: solid 2px #1c86f2;
    color: #1c86f2;
    &:hover{
      background: 0;
      color: rgba(28,134,242,0.6);
      border-color: rgba(28,134,242,0.5);
    };
}
#action-buttons .button.big {
    font-size: 17px;
    min-height: 48px;
    line-height: 48px;
    vertical-align: middle;
    padding: 0 24px;
    border-radius: 3px;
}
#kube-features {
    margin-top: 104px;
    text-align: center;
}
#kube-features .row:first-child {
    padding-bottom: 32px;
    margin-bottom: 64px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
}
.row.gutters, .row.gutters>.row {
    margin-left: -2%;
}
#kube-features .item {
    padding: 0 24px;
}
.row.gutters>.col, .row.gutters>.row>.col {
    margin-left: 2%;
}
.row {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
}

#header {
  position: fixed;
  width: 100%;
  grid-area: header;
  background-image: linear-gradient(to right, #466BB0, #286AC7);
}
#header .UnderlineNav-actions{
  color: #fff;
}
#header .UnderlineNav-item{
  color: #fff;
  font-size: 16px;
} 
#header .UnderlineNav--right{
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
#header .UnderlineNav--right .UnderlineNav-actions{
  flex: 0 0 200px;
}
#header .logo{
  width: 80px;
  top: 3px;
  left: 9px;
  position: absolute;
  background: #fff;
}
#header a:hover {
    text-decoration: none;
}
#header .title-name{
  margin-left: 80px;
}
.article-content{
  display: flex;
  width: 100%;
  margin: 58px auto;
  max-width: 1280px;
}
#main {
  grid-area: main;
  max-width: 1050px;
}
#side {
  grid-area: side;
  width: 230px;
}
aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  display: block;
  overflow-y: scroll;
}

/* Menu */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
.dropdown-content:hover {
  visibility: visible;
  opacity: 1;
}
.dropdown-content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  top: 55px;
  right: 0;
  white-space: nowrap;
  min-width: 160px;
  z-index: 1;
}

/* TOC */
#toc {
  margin-top: 1.5rem;
  padding: 0.7rem;
}
#toc * {
  list-style: none;
  display: block;
  word-break: break-word;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}
#toc ul {
  padding-left: 0.8rem;
}
#toc li {
  margin-top: 0.3rem;
}

@media screen and (max-width: 1012px) {
  #holy {
    display: block;
  }
  #header {
  }
  #main {
    max-width: 1012px;
  }
  #side {
    display: none;
  }
}
