{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="carousel slide" data-ride="carousel">
    <div class="community-main">
      <div class="community-main-col">
        <div class="community-main-title">
          {{ with $.Site.Params.community.community_title }}
          <p class="community-main-font" >
            {{ . | markdownify | emojify }}
          </p>
          {{ end }}
        </div>
        
        {{ with $.Site.Params.community }}
        <div class="community-main-box">
          <div class="community-main-box-item">
            <div class="community-main-box-left">
              <a href="https://github.com/kubeedge">
                <img sloth-img="{{ .community_github }}" alt="community_github">
              </a>
            </div>
            <div class="community-main-box-right">
              <a href="https://github.com/kubeedge">
                Github: https://github.com/kubeedge
              </a>
            </div>
          </div>

          <div class="community-main-box-item">
            <div class="community-main-box-left">
              <a href="https://groups.google.com/forum/#!forum/kubeedge">
                <img sloth-img="{{ .community_mail }}" alt="community_mail">
              </a>
            </div>
            <div class="community-main-box-right">
              <a href="https://groups.google.com/forum/#!forum/kubeedge">
                Mailing List: https://groups.google.com/forum/#!forum/kubeedge
              </a>
            </div>
          </div>

          <div class="community-main-box-item">
            <div class="community-main-box-left">
              <a href="https://join.slack.com/t/kubeedge/shared_invite/enQtNjc0MTg2NTg2MTk0LWJmOTBmOGRkZWNhMTVkNGU1ZjkwNDY4MTY4YTAwNDAyMjRkMjdlMjIzYmMxODY1NGZjYzc4MWM5YmIxZjU1ZDI">
                <img sloth-img="{{ .community_slack }}" alt="community_slack">
              </a>
            </div>
            <div class="community-main-box-right">
              <a href="https://join.slack.com/t/kubeedge/shared_invite/enQtNjc0MTg2NTg2MTk0LWJmOTBmOGRkZWNhMTVkNGU1ZjkwNDY4MTY4YTAwNDAyMjRkMjdlMjIzYmMxODY1NGZjYzc4MWM5YmIxZjU1ZDI">
                Slack: https://join.slack.com/t/kubeedge/shared_invite/enQ...
              </a>
            </div>
          </div>

          <div class="community-main-box-item">
            <div class="community-main-box-left">
              <a href="https://twitter.com/kubeedge">
                <img sloth-img="{{ .community_twitter }}" alt="community_twitter">
              </a>
            </div>
            <div class="community-main-box-right">
              <a href="https://twitter.com/kubeedge">
                Twitter: https://twitter.com/kubeedge
              </a>
            </div>
          </div>
        </div>

        <div class="community-content">
            <div class="community-content-subtitle">
                {{ with $.Site.Params.community.community_subtitle }}
                <p class="community-content-font" >
                  {{ . | markdownify | emojify }}
                </p>
                {{ end }}
              </div>
            <div class="community-content-col">
              <div class="community-content-col-item">
                <div class="community-content-col-item-left">
                  <img sloth-img="{{ .community_icon1 }}" alt="community_icon1">
                  <p>Meeting Calender</p>
                </div>
                <div class="community-content-col-item-right">
                  <ul>
                    <a href="https://calendar.google.com/calendar/embed?sloth-img=8rjk8o516vfte21qibvlae3lj4%40group.calendar.google.com">
                      <li>
                        Calender: https://calendar.google.com/calendar/embed?sloth-img=8rjk8o516vfte21qibvlae3lj4%40group.calendar.google.com
                      </li>
                    </a>
                    <a href="https://calendar.google.com/calendar?cid=OHJqazhvNTE2dmZ0ZTIxcWlidmxhZTNsajRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">
                      <li>
                        Subscribe: https://calendar.google.com/calendar?cid=OHJqazhvNTE2dmZ0ZTIxcWlidmxhZTNsajRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ
                      </li>
                    </a>
                  </ul>
                </div>
              </div>
              
              <div class="community-content-col-item">
                <div class="community-content-col-item-left">
                  <img sloth-img="{{ .community_icon2 }}" alt="community_icon2">
                  <p>Meeting Notes and Agenda</p>
                </div>
                <div class="community-content-col-item-right">
                  <ul>
                    <a href="https://docs.google.com/document/d/1Sr5QS_Z04uPfRbA7PrXr3aPwCRpx7EtsyHq7mp6CnHs/edit">
                      <li>
                        Docs: https://docs.google.com/document/d/1Sr5QS_Z04uPfRbA7PrXr3aPwCRpx7EtsyHq7mp6CnHs/edit
                      </li>
                    </a>
                  </ul>
                </div>
              </div>


              <div class="community-content-col-item">
                <div class="community-content-col-item-left">
                  <img sloth-img="{{ .community_icon3 }}" alt="community_icon3">
                  <p>Meeting Records</p>
                </div>

                <div class="community-content-col-item-right">
                  <ul>
                    <a href="https://www.youtube.com/playlist?list=PLQtlO1kVWGXkRGkjSrLGEPJODoPb8s5FM">
                      <li>
                        YouTube playlist: https://www.youtube.com/playlist?list=PLQtlO1kVWGXkRGkjSrLGEPJODoPb8s5FM
                      </li>
                    </a>
                    <a href="https://space.bilibili.com/448816706">
                      <li>
                        BiliBili: https://space.bilibili.com/448816706
                      </li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        {{ end }}
    </div>
  </div>
</div>

  <!-- Page Footer -->
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
