<style>
  .is-cncf-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 555px;
    max-width: 100%;
    padding: 30px;
  }
</style>

<footer class="site-footer">
  {{ with .Site.GetPage "privacy.md" }}
  <p class="powered-by">
    {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
  </p>
  {{ end }}

  <div>
    <p style="font-size: large;">
      KubeEdge is a <a href="https://cncf.io/">Cloud Native Computing Foundation</a> incubating project.
    </p>
    <img class="is-cncf-logo" alt="Cloud Native Computing Foundation" src="https://raw.githubusercontent.com/cncf/artwork/master/other/cncf/horizontal/color/cncf-color.png">
    <p>
      The Linux Foundation has registered trademarks and uses trademarks. 
      For a list of trademarks of The Linux Foundation, please see our 
      <a href="https://www.linuxfoundation.org/trademark-usage" target="_blank">
        Trademark Usage</a> page.
    </p>
  </div>

  <p class="powered-by">
    {{ with .Site.Copyright }}{{ . | markdownify}} {{ end }}

  <span class="float-right" aria-hidden="true">
    <a href="#" id="back_to_top" tabindex="-1">
      <span class="button_icon">
        <i class="fas fa-chevron-up fa-2x"></i>
      </span>
    </a>
  </span>
</footer>
