{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="carousel slide" data-ride="carousel">
    <div class="study-main">
      <div class="study-main-col">
        <div class="study-main-title">
          {{ with $.Site.Params.study.study_title }}
          <p class="study-main-font" >
            {{ . | markdownify | emojify }}
          </p>
          {{ end }}
          {{ with $.Site.Params.study.study_subtitle }}
          <p class="study-main-subfont" >
            {{ . | markdownify | emojify }}
          </p>
          {{ end }}
        </div>
        {{ with $.Site.Params.study }}
        <div class="study-main-row">
          <div class="study-main-row-right">
            <img src="{{ .study_raisecom }}" alt="study_raisecom">
          </div>  
          <div class="study-main-row-left">
            <img src="{{ .study_xhwl }}" alt="study_xhwl">
          </div>
        </div>
        <div class="study-main-row">
          <div class="study-main-row-right">
            <img style="margin-top: 10px; height: 50px;"  src="{{ .study_jysz }}" alt="study_jysz">
          </div>  
          <div class="study-main-row-left">
            <img style="margin-top: 10px; height: 50px;"  src="{{ .study_woyun }}" alt="study_woyun">
          </div>

        </div>
        <div class="study-main-row">
          <div class="study-main-row-right">
              <img src="{{ .study_kubesphere }}" alt="study_kubesphere">
          </div>  
          <div class="study-main-row-left">   
              <img style="width: 100px;" src="{{ .study_cloud }}" alt="study_cloud">
          </div>
        </div>
        {{ end }}
    </div>
  </div>
</div>

  <!-- Page Footer -->
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
