.case-studies-container {
  background-color: var(--ifm-background-color);
  
  .case-card {
    width: 100%;
    height: 100%;
  }

  .case-studies-header {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/img/casestudies/demo.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .button {
      background-color: #f8f9fa;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

    .case-studies {
      font-size: 40px;
      font-weight: 700;
      color: white;
    }

    .case-studies-subtitle {
      font-weight: 500;
      font-size: 20px;
      color: white;
    }
  }

  .case-list {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 40px;

    .tag-toggle-container {
      padding: 40px 0;
    }
  }
}

@media screen {
  @media (max-width: 1275px) {
    .case-studies-container {
      .case-list {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}