.slider-container {
  .slick-slider {
    display: flex;
    height: 350px;

    .slick-item {
      height: 350px;
      padding: 80px 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-right: 11rem;
      padding-left: 11rem;

      &.left {
        align-items: flex-start;

        .title {
          text-align: left;
        }
      }

      &.right {
        align-items: flex-end;

        .title {
          text-align: right;
        }
      }

      &.center {
        align-items: centers;
        justify-content: center;

        .title {
          text-align: center;
        }
      }

      .title {
        color: white;
      }

      .button {
        a {
          display: block;
          cursor: pointer;
          font-size: 1.1rem;
          font-weight: 400;
          color: #0039cb;
          padding: 0.5em 2.1em;
          background-color: #f8f9fa;
          border-color: #f8f9fa;
          border-radius: 0.4rem;
          text-decoration: none;
          user-select: none;
          transition: color 0.15s ease-in-out,
            background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

          &:hover {
            background-color: #e2e6ea;
            border-color: #dae0e5;
          }
        }
      }

      .main-title {
        font-size: 2.7rem;
        text-align: inherit;
      }

      .sub-title {
        font-size: 1.35rem;
        text-align: inherit;
      }
    }

    .slick-arrow {
      height: 100%;
      width: 15%;
      z-index: 1;
    }

    .slick-prev {
      position: position;
      left: 0;
    }

    .slick-next {
      position: position;
      right: 0;
    }

    .slick-dots {
      bottom: 10px;
    }
  }
}
